In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import re
% matplotlib inline
import warnings
from tqdm import tqdm
from datetime import datetime
import json
warnings.filterwarnings("ignore")

In [3]:
os.chdir(r"C:\Users\Mohiuddin\Desktop\machine learning\ML\incedo-hackerearth")

In [4]:
train = pd.read_csv("train_file.csv")
tes = pd.read_csv("test_file.csv")
test = pd.read_csv("test_file.csv")
submission = pd.read_excel("sample_submission08f968d.xlsx")

In [6]:
train.head(2)

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
0,1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
1,2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852

In [7]:
train.nunique()

Patient_ID                  55399
YEAR                           14
LocationDesc                   91
Subtopic                        2
Greater_Risk_Question          20
Description                    20
Sample_Size                  3583
Sex                             3
Race                            8
Grade                           5
GeoLocation                    85
QuestionCode                   20
StratID1                        3
StratID2                        8
StratID3                        5
StratificationType              5
Greater_Risk_Probability    51821
dtype: int64

In [8]:
train.isnull().sum()

Patient_ID                     0
YEAR                           0
LocationDesc                   0
Subtopic                       0
Greater_Risk_Question          0
Description                    0
Sample_Size                    0
Sex                            0
Race                           0
Grade                          0
GeoLocation                 3301
QuestionCode                   0
StratID1                       0
StratID2                       0
StratID3                       0
StratificationType             0
Greater_Risk_Probability       0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
train["LocationDesc"] = labelencoder.fit_transform(train["LocationDesc"])
test["LocationDesc"] = labelencoder.fit_transform(test["LocationDesc"])

In [6]:
le = LabelEncoder()
train["Greater_Risk_Question"] = le.fit_transform(train["Greater_Risk_Question"])
test["Greater_Risk_Question"] = le.fit_transform(test["Greater_Risk_Question"])

In [7]:
te = LabelEncoder()
train["Description"] = te.fit_transform(train["Description"])
test["Description"] = te.fit_transform(test["Description"])

In [8]:
train.Sex.value_counts()

Total     22057
Female    16973
Male      16369
Name: Sex, dtype: int64

In [9]:
fe = LabelEncoder()
train["Sex"] = fe.fit_transform(train["Sex"])
test["Sex"] = fe.fit_transform(test["Sex"])

In [10]:
ge = LabelEncoder()
train["Race"] = ge.fit_transform(train["Race"])
test["Race"] = ge.fit_transform(test["Race"])

In [11]:
cc = LabelEncoder()
train["QuestionCode"] = cc.fit_transform(train["QuestionCode"])
test["QuestionCode"] = cc.fit_transform(test["QuestionCode"])

In [12]:
he = LabelEncoder()
train["StratificationType"] = he.fit_transform(train["StratificationType"])
test["StratificationType"] = he.fit_transform(test["StratificationType"])

In [13]:
#train["QuestionCode"] = train['QuestionCode'].replace('H', ' ', regex=True)

In [14]:
train['GeoLocation'] = train['GeoLocation'].str.strip('()')
test['GeoLocation'] = test['GeoLocation'].str.strip('()')

In [15]:
train[['Latitute','Longitute']] = train.GeoLocation.str.split(",",expand=True,).astype(float)
test[['Latitute','Longitute']] = test.GeoLocation.str.split(",",expand=True,).astype(float)

In [16]:
#train.Latitute.replace(np.nan,train["Latitute"].mean,inplace = True)
#test.Latitute.replace(np.nan,test["Latitute"].mean,inplace = True)

In [17]:
#train.Longitute.replace(np.nan,train["Longitute"].mean,inplace = True)
#test.Longitute.replace(np.nan,test["Longitute"].mean,inplace = True)

In [18]:
train['Latitute'].fillna((train['Latitute'].mean()), inplace=True)
test['Latitute'].fillna((test['Latitute'].mean()), inplace=True)
train['Longitute'].fillna((train['Longitute'].mean()), inplace=True)
test['Longitute'].fillna((test['Longitute'].mean()), inplace=True)

In [19]:
train.dtypes

Patient_ID                    int64
YEAR                          int64
LocationDesc                  int64
Subtopic                      int64
Greater_Risk_Question         int64
Description                   int64
Sample_Size                 float64
Sex                           int64
Race                          int64
Grade                         int64
GeoLocation                  object
QuestionCode                  int64
StratID1                      int64
StratID2                      int64
StratID3                      int64
StratificationType            int64
Greater_Risk_Probability    float64
Latitute                    float64
Longitute                   float64
dtype: object

In [20]:
train["stratIDTotal"] = train.StratID1 +  train.StratID2 + train.StratID3
test["stratIDTotal"] = test.StratID1 +  test.StratID2 + test.StratID3

In [21]:
y = train.Greater_Risk_Probability
y = pd.DataFrame(y)
train.drop(["GeoLocation","Patient_ID","Greater_Risk_Probability"],axis = 1, inplace = True)
test.drop(["GeoLocation","Patient_ID"],axis = 1, inplace = True)
print(train.shape)
print(test.shape)

(55399, 17)
(36932, 17)

In [146]:
train.head()

,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Latitute,Longitute,stratIDTotal
0,1995,32,1,6,7,335.0,0,3,4,9,1,4,0,0,29.760427,-95.369803,5
1,1997,32,0,0,8,382.0,2,2,4,2,0,3,0,0,29.760427,-95.369803,3
2,1993,54,0,14,14,196.0,0,7,0,1,1,6,2,3,39.493240,-117.071841,9
3,2017,71,1,6,7,104.0,1,1,4,9,2,2,0,3,40.793730,-77.860700,4
4,2007,77,1,5,15,100.0,0,4,4,15,1,7,0,0,37.774930,-122.419416,8

In [99]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=750)
model.fit(train, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=750, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [26]:
predictions = model.predict(test)

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: x=       YEAR  LocationDesc  Subtopic  Greater_Risk_Question  Description  \
0      2007            52         1                     11            6
1      2001            27         1                      1            5
2      2005            14         1                     19           11
3      2017            54         1                     13            0
4      2007            34         1                      9            2
5      2009            20         1                     19           11
6      2009            75         1                      5           15
7      2017            43         1                      3           18
8      2011            27         1                      1            5
9      2009            33         1                      7            1
10     2017            89         1                     17            4
11     2007            48         1                      9            2
12     2015            43         1                      7            1
13     1993            16         1                      6            7
14     2009            54         0                     14           14
15     2011            83         0                      2            9
16     2013            29         0                      0            8
17     2007            11         1                     19           11
18     2007            70         1                     10           16
19     2017            51         1                     11            6
20     2007            75         0                      0            8
21     2011            72         1                     10           16
22     2009            59         1                      9            2
23     2003            81         0                      2            9
24     2017            36         1                      3           18
25     1997            49         1                     17            4
26     2013            87         1                      9            2
27     2003            27         1                      5           15
28     2017            72         1                     19           11
29     2013            53         1                     17            4
...     ...           ...       ...                    ...          ...
36902  2005            68         0                      0            8
36903  2007            51         1                     17            4
36904  1999            46         1                     19           11
36905  2011            51         1                      9            2
36906  2013            56         0                     14           14
36907  2017            84         1                      8           17
36908  2011            78         1                      1            5
36909  1997            89         0                      0            8
36910  2001            27         1                      9            2
36911  1997            24         0                      0            8
36912  2007            63         1                      1            5
36913  2017            19         1                     13            0
36914  2017            22         0                     15           19
36915  2011            43         0                     14           14
36916  2001            75         1                      3           18
36917  2005            29         0                      0            8
36918  2015            87         1                      9            2
36919  2013            37         1                     11            6
36920  2017            40         0                     15           19
36921  1997            31         1                      3           18
36922  2007            32         1                      7            1
36923  2007            22         0                      2            9
36924  2005            50         1                      1            5
36925  2005            64         1                     17            4
36926  2001            83         0                      0            8
36927  2005            44         0                     14           14
36928  2005            67         1                      9            2
36929  2007            49         1                     10           16
36930  1999            58         1                      6            7
36931  2017            84         0                      2            9

       Sample_Size  Sex  Race  Grade  QuestionCode  StratID1  StratID2  \
0            157.0    1     3      3             6         2         4
1            724.0    2     6      2             8         0         0
2            105.0    1     3      4            18         2         4
3            157.0    1     6      2            14         2         0
4            174.0    2     2      1            11         0         3
5            149.0    2     3      1            18         0         4
6            222.0    2     3      3            15         0         4
7           1482.0    2     3      0            17         0         4
8            169.0    2     1      4             8         0         2
9            473.0    2     7      1            13         0         6
10           263.0    1     6      0             7         2         0
11           500.0    0     2      4            11         1         3
12           311.0    1     1      0            13         2         2
13           228.0    2     7      4             9         0         6
14           622.0    2     6      3             1         0         0
15           142.0    1     7      1             0         2         6
16           149.0    2     7      1             2         0         6
17           244.0    0     6      1            18         1         0
18           704.0    2     6      3            10         0         0
19           404.0    1     7      2             6         2         6
20           132.0    1     3      3             2         2         4
21           102.0    0     7      4            10         1         6
22          1357.0    1     6      2            11         2         0
23           169.0    1     7      0             0         2         6
24           549.0    1     7      4            17         2         6
25           154.0    0     2      1             7         1         3
26           306.0    2     2      2            11         0         3
27           566.0    2     7      0            15         0         6
28           159.0    1     6      1            18         2         0
29           295.0    2     7      0             7         0         6
...            ...  ...   ...    ...           ...       ...       ...
36902        244.0    1     6      3             2         2         0
36903        432.0    1     6      1             7         2         0
36904        128.0    0     6      2            18         1         0
36905       1689.0    0     7      4            11         1         6
36906        125.0    1     7      2             1         2         6
36907        380.0    0     3      2            19         1         4
36908        109.0    2     1      3             8         0         2
36909        206.0    2     7      2             2         0         6
36910        212.0    2     2      1            11         0         3
36911        464.0    2     2      3             2         0         3
36912        703.0    1     7      4             8         2         6
36913        149.0    1     7      1            14         2         6
36914       1254.0    2     7      4             5         0         6
36915        127.0    2     3      3             1         0         4
36916        397.0    1     6      4            17         2         0
36917        772.0    1     6      4             2         2         0
36918       1100.0    0     7      4            11         1         6
36919        312.0    2     7      1             6         0         6
36920        327.0    2     7      4             5         0         6
36921        153.0    0     6      1            17         1         0
36922        287.0    0     6      0            13         1         0
36923        385.0    2     7      3             0         0         6
36924        263.0    1     6      0             8         2         0
36925        661.0    2     6      3             7         0         0
36926        194.0    1     2      3             2         2         3
36927        464.0    0     6      1             1         1         0
36928        233.0    0     6      3            11         1         0
36929        724.0    1     6      4            10         2         0
36930        639.0    0     2      4             9         1         3
36931        369.0    1     4      4             0         2         7

       StratID3  StratificationType   Latitute   Longitute  stratIDTotal
0             1                   2  36.349640  -80.763515             7
1             4                   3  28.932040  -81.928961             4
2             0                   0  35.227087  -80.843127             6
3             4                   3  39.493240 -117.071841             6
4             3                   3  40.485010  -88.997710             6
5             3                   0  32.776664  -96.796988             7
6             1                   0  34.108345 -117.289765             5
7             2                   3  39.290581  -76.609260             6
8             0                   3  28.932040  -81.928961             2
9             3                   3  43.682630 -114.363730             9
10            2                   3  44.393191  -89.816371             4
11            0                   0  43.038903  -87.906474             4
12            2                   3  39.290581  -76.609260             6
13            0                   0  41.878114  -87.629798             6
14            1                   3  39.493240 -117.071841             1
15            3                   3  31.827240  -99.426770            11
16            3                   3  32.839681  -83.627580             9
17            3                   0  42.360083  -71.058880             4
18            1                   0  26.651450  -80.276733             1
19            4                   3  47.066529 -109.424421            12
20            1                   0  34.108345 -117.289765             7
21            0                   0  39.952584  -75.165222             7
22            4                   3  42.827001  -75.543970             6
23            2                   3  44.353130 -100.373531            10
24            0                   3  42.469401  -93.816491             8
25            3                   3  32.745510  -89.538031             7
26            4                   3  37.542681  -78.457890             7
27            2                   3  28.932040  -81.928961             8
28            3                   0  39.952584  -75.165222             5
29            2                   3  41.641041  -99.365721             8
...         ...                 ...        ...         ...           ...
36902         1                   0  28.484500  -81.251883             3
36903         3                   3  47.066529 -109.424421             5
36904         4                   0  25.551603  -80.632692             5
36905         0                   3  47.066529 -109.424421             7
36906         4                   3  40.130570  -74.273691            12
36907         4                   1  36.349640  -80.763515             9
36908         1                   0  47.606210 -122.332071             3
36909         4                   3  44.393191  -89.816371            10
36910         3                   3  28.932040  -81.928961             6
36911         1                   0  42.331427  -83.045754             4
36912         0                   3  47.475320 -100.118421             8
36913         3                   3  41.562661  -72.649841            11
36914         0                   3  39.008831  -75.577741             6
36915         1                   3  39.290581  -76.609260             5
36916         0                   0  34.108345 -117.289765             2
36917         0                   3  32.839681  -83.627580             2
36918         0                   3  37.542681  -78.457890             7
36919         3                   3  38.347740  -98.200781             9
36920         0                   3  31.312661  -92.445680             6
36921         3                   3  21.304850 -157.857749             4
36922         2                   0  29.760427  -95.369803             3
36923         1                   3  39.008831  -75.577741             7
36924         2                   3  38.635791  -92.566300             4
36925         1                   4  15.097900  145.673900             1
36926         1                   3  31.827240  -99.426770             6
36927         3                   3  42.276870  -72.082691             4
36928         1                   3  35.472031  -97.521070             2
36929         0                   3  32.745510  -89.538031             2
36930         0                   0  36.349640  -80.763515             4
36931         0                   1  36.349640  -80.763515             9

[36932 rows x 17 columns]

In [119]:
pred = pd.DataFrame(pred)

In [121]:
pred.to_csv("RFS2",index = False)

In [145]:
final_result = pd.DataFrame({'Patient_ID':tes['Patient_ID'],'Greater_Risk_Probability':pred})
final_result = final_result[["Patient_ID","Greater_Risk_Probability"]]
final_result.to_csv('RfSolution2.csv',index=False)

TypeError: 'int' object is not iterable

In [109]:
import xgboost as xgb

In [110]:
boost_params = {'eval_metric': 'rmse'}
xgb0 = xgb.XGBRegressor(
    max_depth=8,
    learning_rate=0.01,
    n_estimators=1200,
    objective='reg:linear',
    gamma=0,
    min_child_weight=1,
    subsample=1,
    colsample_bytree=1,
    scale_pos_weight=1,
    seed=27,
    **boost_params)

In [111]:
xgb0.fit(train, y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, eval_metric='rmse', gamma=0,
       importance_type='gain', learning_rate=0.01, max_delta_step=0,
       max_depth=8, min_child_weight=1, missing=None, n_estimators=1200,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27, silent=True,
       subsample=1)

In [28]:
predict_y = xgb0.predict(test)

NameError: name 'xgb0' is not defined

In [27]:
final_result = pd.DataFrame({'Patient_ID':tes['Patient_ID'],'Greater_Risk_Probability':predict_y})
final_result = final_result[["Patient_ID","Greater_Risk_Probability"]]
final_result.to_csv('xgbSolution3.csv',index=False)

NameError: name 'predict_y' is not defined

In [24]:
import lightgbm as lgb

d_train = lgb.Dataset(train, label=y)

params = {}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
#params['objective'] = 'reg:linear'
params['metric'] = 'rmse'
params['sub_feature'] = 0.5
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10

clf = lgb.train(params, d_train,1000)

In [28]:
predict_y = clf.predict(test)

In [29]:
final_result = pd.DataFrame({'Patient_ID':te['Patient_ID'],'Greater_Risk_Probability':predict_y})
final_result = final_result[["Patient_ID","Greater_Risk_Probability"]]
final_result.to_csv('lgbsubmission.csv',index=False)

In [43]:
# Fitting Decision Tree Regression to the dataset
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(train, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [44]:
predict_y = regressor.predict(test)

In [45]:
final_result = pd.DataFrame({'Patient_ID':te['Patient_ID'],'Greater_Risk_Probability':predict_y})
final_result = final_result[["Patient_ID","Greater_Risk_Probability"]]
final_result.to_csv('dtreesubmission.csv',index=False)

In [46]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(train, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [47]:
predict_y = regressor.predict(test)

In [48]:
final_result = pd.DataFrame({'Patient_ID':te['Patient_ID'],'Greater_Risk_Probability':predict_y})
final_result = final_result[["Patient_ID","Greater_Risk_Probability"]]
final_result.to_csv('linregsubmission.csv',index=False)

In [25]:
train.head()

,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Latitute,Longitute,stratIDTotal
0,1995,32,1,6,7,335.0,0,3,4,9,1,4,0,0,29.760427,-95.369803,5
1,1997,32,0,0,8,382.0,2,2,4,2,0,3,0,0,29.760427,-95.369803,3
2,1993,54,0,14,14,196.0,0,7,0,1,1,6,2,3,39.493240,-117.071841,9
3,2017,71,1,6,7,104.0,1,1,4,9,2,2,0,3,40.793730,-77.860700,4
4,2007,77,1,5,15,100.0,0,4,4,15,1,7,0,0,37.774930,-122.419416,8

In [23]:
#imports
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

#build our model
model = Sequential()

model.add(Dense(50, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='adam')

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [24]:
model.fit(
    train,
    y,
    epochs=50,
    shuffle=True,
    verbose=2
)

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: x=       YEAR  LocationDesc  Subtopic  Greater_Risk_Question  Description  \
0      1995            32         1                      6            7
1      1997            32         0                      0            8
2      1993            54         0                     14           14
3      2017            71         1                      6            7
4      2007            77         1                      5           15
5      2015            72         1                     10           16
6      2009            76         0                      0            8
7      2007            85         0                      0            8
8      2017            88         1                     19           11
9      1999            31         1                     10           16
10     2009            60         0                     14           14
11     1995            30         1                     10           16
12     2007            51         1                     11            6
13     2005            59         1                      9            2
14     2011            51         0                     14           14
15     2011            60         1                     10           16
16     2007            47         1                     10           16
17     2007            42         1                     19           11
18     2007             8         1                      5           15
19     1993            85         0                      0            8
20     2017            19         0                      0            8
21     2005            29         0                      2            9
22     2013            12         1                      9            2
23     1999            50         1                      1            5
24     1997            36         1                      5           15
25     2007            43         1                      9            2
26     2017            31         0                      0            8
27     1997            80         1                      6            7
28     2017            84         1                     13            0
29     2015            46         1                      5           15
...     ...           ...       ...                    ...          ...
55369  2003            24         1                     17            4
55370  2007            84         0                     18           12
55371  2003            29         1                      5           15
55372  2017            85         0                      2            9
55373  2017             3         0                      0            8
55374  2007            86         1                      9            2
55375  2009            29         0                      2            9
55376  1997            84         0                      2            9
55377  2017            82         0                     15           19
55378  2015            74         1                      9            2
55379  2017            44         1                      9            2
55380  2001            69         1                      3           18
55381  2005            29         1                      9            2
55382  2017            72         1                     17            4
55383  1997            50         1                      1            5
55384  2007            63         0                      2            9
55385  2007            36         0                      0            8
55386  2005             5         1                      5           15
55387  2001            30         1                     19           11
55388  2011            89         1                     17            4
55389  2001            86         0                     14           14
55390  2011            48         1                     12            3
55391  2013            55         0                     14           14
55392  2015            86         1                     17            4
55393  2015            88         1                      1            5
55394  2005            19         0                     14           14
55395  2005            53         1                      1            5
55396  2007            42         0                     14           14
55397  2011            83         0                      2            9
55398  2001            20         1                      3           18

       Sample_Size  Sex  Race  Grade  QuestionCode  StratID1  StratID2  \
0            335.0    0     3      4             9         1         4
1            382.0    2     2      4             2         0         3
2            196.0    0     7      0             1         1         6
3            104.0    1     1      4             9         2         2
4            100.0    0     4      4            15         1         7
5            108.0    1     2      3            10         2         3
6            230.0    0     6      1             2         1         0
7            180.0    1     6      1             2         2         0
8            427.0    2     6      1            18         0         0
9            314.0    2     6      1            10         0         0
10           112.0    1     1      2             1         2         2
11            98.0    1     1      4            10         2         2
12           776.0    2     7      0             6         0         6
13           357.0    0     2      3            11         1         3
14           887.0    2     7      3             1         0         6
15           145.0    1     7      1            10         2         6
16           306.0    2     2      4            10         0         3
17           435.0    2     5      3            18         0         5
18           284.0    2     6      2            15         0         0
19          2149.0    1     6      4             2         2         0
20          1102.0    2     7      4             2         0         6
21           319.0    0     2      4             0         1         3
22           144.0    1     6      1            11         2         0
23           130.0    2     2      3             8         0         3
24           341.0    2     6      1            15         0         0
25           205.0    2     7      0            11         0         6
26           809.0    0     6      1             2         1         0
27           907.0    1     6      3             9         2         0
28          1778.0    0     6      1            14         1         0
29           361.0    0     6      1            15         1         0
...            ...  ...   ...    ...           ...       ...       ...
55369        326.0    2     6      2             7         0         0
55370        381.0    2     3      3             3         0         4
55371        105.0    1     2      3            15         2         3
55372        874.0    0     6      4             0         1         0
55373        170.0    1     3      3             2         2         4
55374        640.0    1     7      1            11         2         6
55375        457.0    2     6      3             0         0         0
55376       3424.0    2     6      3             0         0         0
55377        247.0    0     6      1             5         1         0
55378        159.0    1     2      4            11         2         3
55379        195.0    1     7      0            11         2         6
55380        109.0    2     5      0            17         0         5
55381        115.0    0     2      3            11         1         3
55382        120.0    0     2      0             7         1         3
55383        194.0    1     6      0             8         2         0
55384        439.0    2     6      1             0         0         0
55385        727.0    0     6      4             2         1         0
55386        187.0    1     6      1            15         2         0
55387        446.0    0     5      4            18         1         5
55388        358.0    0     6      2             7         1         0
55389        108.0    2     1      4             1         0         2
55390        171.0    2     2      2            12         0         3
55391        178.0    1     7      0             1         2         6
55392       3583.0    2     7      2             7         0         6
55393        104.0    0     7      2             8         1         6
55394        541.0    2     6      0             1         0         0
55395        595.0    0     6      3             8         1         0
55396        186.0    0     6      1             1         1         0
55397       1107.0    2     6      0             0         0         0
55398        348.0    1     3      4            17         2         4

       StratID3  StratificationType   Latitute   Longitute  stratIDTotal
0             0                   0  29.760427  -95.369803             5
1             0                   0  29.760427  -95.369803             3
2             2                   3  39.493240 -117.071841             9
3             0                   3  40.793730  -77.860700             4
4             0                   0  37.774930 -122.419416             8
5             1                   0  39.952584  -75.165222             6
6             3                   0  32.715738 -117.161084             4
7             3                   3  39.360700 -111.587131             5
8             3                   3  38.665510  -80.712640             3
9             3                   3  21.304850 -157.857749             3
10            4                   0  40.712784  -74.005941             8
11            0                   4  13.444304  144.793731             4
12            2                   3  47.066529 -109.424421             8
13            1                   3  42.827001  -75.543970             5
14            1                   3  47.066529 -109.424421             7
15            3                   0  40.712784  -74.005941            11
16            0                   3  44.661320  -84.714390             3
17            1                   4   6.068302  171.989379             6
18            4                   0  40.783060  -73.971249             4
19            0                   3  39.360700 -111.587131             2
20            0                   3  41.562661  -72.649841             6
21            0                   3  32.839681  -83.627580             4
22            3                   0  26.190096  -80.365865             5
23            1                   3  38.635791  -92.566300             4
24            3                   3  42.469401  -93.816491             3
25            2                   3  39.290581  -76.609260             8
26            3                   3  21.304850 -157.857749             4
27            1                   3  33.998821  -81.045371             3
28            3                   1  36.391076  -81.123898             4
29            3                   0  25.551603  -80.632692             4
...         ...                 ...        ...         ...           ...
55369         4                   0  42.331427  -83.045754             4
55370         1                   1  36.391076  -81.123898             5
55371         1                   3  32.839681  -83.627580             6
55372         0                   3  39.360700 -111.587131             1
55373         1                   3  34.865970 -111.763811             7
55374         3                   3  43.625381  -72.517641            11
55375         1                   3  32.839681  -83.627580             1
55376         1                   1  36.391076  -81.123898             1
55377         3                   3  35.680941  -85.774491             4
55378         0                   3  41.708280  -71.522470             5
55379         2                   3  42.276870  -72.082691            10
55380         2                   4   7.514980  134.582520             7
55381         1                   3  32.839681  -83.627580             5
55382         2                   0  39.952584  -75.165222             6
55383         2                   3  38.635791  -92.566300             4
55384         3                   3  47.475320 -100.118421             3
55385         0                   3  42.469401  -93.816491             1
55386         3                   0  39.290385  -76.612189             5
55387         0                   4  13.444304  144.793731             6
55388         4                   3  44.393191  -89.816371             5
55389         0                   3  43.625381  -72.517641             2
55390         4                   0  43.038903  -87.906474             7
55391         2                   3  43.655950  -71.500361            10
55392         4                   3  43.625381  -72.517641            10
55393         4                   3  38.665510  -80.712640            11
55394         2                   3  41.562661  -72.649841             2
55395         1                   3  41.641041  -99.365721             2
55396         3                   4   6.068302  171.989379             4
55397         2                   3  31.827240  -99.426770             2
55398         0                   0  32.776664  -96.796988             6

[55399 rows x 17 columns]